@font-face {
  font-family: main;
  src: url(fonts/Abel-Regular.ttf)
}

* {
  margin: 0;
}
.App {
  height: 100vh;
  font-family: 'main', Fallback, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: 'main', Fallback, sans-serif;
}

.navbar-container {
  background-color: #4f5f76;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  background-color: white;
}

.navbar-container li {
  text-align: center;
  list-style: none;
}

ul {
  padding: 0px;
}

#profile-pic {
  height: 200px;
  border: solid 4px white;
  border-radius: 100px;
}

