
@font-face {
  font-family: main;
  src: url(fonts/Abel-Regular.ttf)
}

* {
  margin: 0;
}

.App {
  height: 100vh;
  font-family: 'main', Fallback, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: 'main', Fallback, sans-serif;
  grid-column-gap: 40px;
}
/* Navbar */
.navbar-container {
  background-color: #294a71;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px -1px 15px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -1px 15px 8px rgba(0,0,0,0.75);
box-shadow: 3px -1px 15px 8px rgba(0,0,0,0.75);
}

.navbar-container li {
  text-align: center;
  list-style: none;
}

ul {
  padding: 0px;
}

.profile-pic-container {
  width: 200px;
  height: 200px;
  border: solid 8px #4176b4;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#profile-pic {
  height: 200px;
}

#navbar li {
  padding: 10px 0;
  color: white;
  font-size: 20px;
}

#navbar li a{
  padding: 10px 0;
  color: #85b4ea;
  text-decoration: none;
}

#navbar a:hover {
  color: #fff;
}

/*  */
.main-container{
  background-color: white;

}