
@font-face {
  font-family: main;
  src: url(fonts/Abel-Regular.ttf)
}

body {
  overscroll-behavior: none;
}

* {
  margin: 0;
}

.App {
  font-family: 'main', Fallback, sans-serif;
}

/**********/
/* Navbar*/
/**********/
.navbar-container {
  background-color: #294a71;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px -1px 15px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px -1px 15px 8px rgba(0,0,0,0.75);
  box-shadow: 3px -1px 15px 8px rgba(0,0,0,0.75);
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar-container li {
  text-align: center;
  list-style: none;
}

ul {
  padding: 0px;
}

.profile-pic-container {
  width: 200px;
  height: 200px;
  border: solid 8px #4176b4;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#profile-pic {
  height: 200px;
}

#navbar li {
  padding: 10px 0;
  color: white;
  font-size: 20px;
}

#navbar li a{
  padding: 10px 0;
  color: #85b4ea;
  text-decoration: none;
}

#navbar a:hover {
  color: #fff;
}

/**********/
/* Main*/
/**********/
.main-container{
  padding-right: 15vw;
}

.sections {
  padding: 35vh 0 50vh 300px;
}

/**********/
/* About*/
/**********/
h1{
  margin-left: -5px;
}

#name{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 80px;
  margin-bottom: 0px;
}

#monroy {
  color: #294a71;
}

#sub-heading {
  font-size: 40px;
}

#front-end {
  color:	#5294e2;
  margin-top: 0px;
}

#about-me {
  font-size: 20px;
}

.highlights {
  color: 	#5294e2;
  font-weight: 600;
}


/**********/
/* Projects & Certs*/
/**********/

h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

.slider {
  width: 800px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #5294e2;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  flex-shrink: 0;
  width: 800px;
  height: 500px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  overflow: hidden;
}

.slide-pics {
  max-width: 100%;
  max-height: 100%;
}

.project-name {
  position: absolute;
  bottom: 8px;
  left: 0px;
  color: white;
  font-size: 40px;
  background-color:#294a71;
  opacity: .7;
  padding: 5px 20px;
}

/**********/
/* Skills & Tools*/
/**********/

.svg-inline--fa {
  font-size: 50px;
  margin-right: 30px;
}

.svg-inline--fa:hover {
  color: #294a71;
}

/**********/
/* Profiles */
/**********/

.social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-buttons {
  padding: 10px;
  background-color: #294a71;
  color:  white;
  border-radius: 10px;
  margin-left: 30px;
  min-width: 200px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.social-buttons:hover {
background-color: #383c4a;
text-decoration: none;
  color: white;
}

@media screen and (max-width: 1112px) {

  #name{
    font-size: 60px;
  }

  .main-container{
    padding-right: 1vw;
  }

  .slider {
    width: 600px;
  }

  .slides > div {
    width: 600px;
    height: 350px;
  }

}

@media screen and (max-width: 991px) {

  .social {
    flex-direction: column;
  }

  .social-buttons {
    margin-bottom: 30px;
  }

  .slider {
    width: 400px;
  }

  .slides > div {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 890px) {

  #name{
    font-size: 30px;
  }
}

@media screen and (max-width: 705px) {


  .navbar-container {
    width: 100vw;
    height: 500px;
    z-index: 1;
    position: relative;
  }
  
  .sections {
    padding: 0 0 200px 0;
  }

  #about-section, #skills-section, #profiles-section {
    padding: 0 20px 70px;
  }

  .pro-certs {
    padding-left: 20px;
  }

  #about-section {
    margin-top: 50px;
  }

  .main-container {
    padding: 0;
    width: 100vw;

}

  #name{
    font-size: 30px;
  }

  .social {
    flex-direction: column;
  }

  .social-buttons {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .slider {
    width: 100vw;
  }

  .slides > div {
    width: 100vw;
    height: 500px;
  }

}

@media screen and (max-width: 600px) {

  .slider {
    width: 100vw;
  }

  .slides > div {
    width: 100vw;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {

  .slider {
    width: 100vw;
  }

  .slides > div {
    width: 100vw;
    height: 300px;
  }
}

